<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <ul id="nav-language" class="">
        {% if page.lang != 'fr' %}
        <li><span>English</span></li>
        <li><a class="nav-lang_link" href="{{ site.baseurl }}/fr/{{ page.url | replace: '/en/', '' }}">Français</a></li>
        {% endif %}
        {% if page.lang != 'en' %}
        <li><a class="nav-lang_link" href="{{ site.baseurl }}/en/{{ page.url | replace: '/fr/', '' }}">English</a></li>
        <li><span>Français</span></li>
        {% endif %}
      </ul> -->
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/{{ page.lang }}">
              <img src="{{ site.baseurl }}/assets/img/logo.png" alt="Logo">
            </a>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                {% assign navigation = site.html_pages | sort:"weight" %}
                {% for menu in navigation %}{% if menu.path contains page.lang %}{% if menu.navigation %}{% if menu.lang == page.lang %}
                  <li>
                    <a class="page-link{% if page.title == menu.title %} active{% endif %}" href="{{ menu.url }}" class="{{ menu.lang }}">{{ menu.navigation }}</a>
                  </li>
                {% endif %}{% endif %}{% endif %}{% endfor %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
