<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Notre métier</h2>
          <p>Découvrez ce que nous faisons et notre philosophie de conception. Nous effectuons une veille technologique constante, qui nous permet de proposer les solutions les plus perennes innovantes, répondant à des besoins pour tous secteurs d’activités.</p>
          <a class="btn btn-default btn-call-to-action" href="/{{ page.lang }}/our-work/" >En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
</section>