---
layout: default
---

<div id="form" class="container">
	<h1>Inscrivez vous à la session{% if page.date-session %} du {{ page.date-session | date: "%D" }}{% endif %}</h1>
	<p class="well">
	{% if page.teacher %}<strong>Enseignant :</strong> {{ page.teacher }}<br>{% endif %}
	{% if page.title %}<strong>Thème :</strong> {{ page.title }}<br>{% endif %}
	<strong>Date :</strong> {% if page.date-session %}{{ page.date-session | date: "%d/%m/%Y" }}{% else%}À définir{% endif %}<br>
	{% if page.session %}<strong>Session :</strong> {{ page.session }}<br>{% endif %}
	{% if page.duration %}<strong>Durée :</strong> {{ page.duration }}<br>{% endif %}
	<strong>Tarif :</strong> {% if page.price %}{{ page.price }}{% else%}À définir{% endif %}<br>
	{% if page.city %}<strong>À :</strong> {{ page.city }}{% endif %}
	</p>
	<div class="block">
	<form action="https://formspree.io/training@alkeymia.com" method="POST">
		<div class="form-group">
			<label>Votre prénom</label>
			<input type="text" class="form-control" placeholder="ex: Jean" name="prenom">
		</div>
		<div class="form-group">
			<label>Votre nom</label>
			<input type="text" class="form-control" placeholder="ex: Delafontaine" name="nom">
		</div>
		<div class="form-group">
			<label>Votre adresse email</label>
			<input type="email" class="form-control" placeholder="ex: jean.delafontaine@mail.com" name="_replyto">
		</div>
		<div class="form-group">
			<label>Votre numéro de téléphone</label>
			<input type="text" class="form-control" placeholder="ex: +33 6 07 08 09 10" name="telephone">
		</div>
		<div class="form-group">
			<label>Votre société</label>
			<input type="text" class="form-control" placeholder="ex: SNCF" name="_replyto">
		</div>
		<div class="form-group-2">
			<label>Votre besoin</label>
			<textarea class="form-control" rows="3" placeholder="Je désire…" name="votrebesoin"></textarea>
		</div>
		<input type="hidden" name="_subject" value="{{ page.theme }} {{ page.date }} {{ page.teacher }} à {{ page.city }}" />
		<input type="hidden" name="_language" value="{{ page.lang }}" />
		<input type="text" name="_gotcha" style="display:none" />
		<button class="btn btn-default" type="submit">Envoyer un message</button>
	</form>
	</div>
</div>